*.sln
*.csproj
PathfinderPrototype/PathfinderPrototype.v12.suo
PathfinderPrototype/Library/
PathfinderPrototype/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PathfinderPrototype/Temp/
PathfinderPrototype/obj/
PathfinderPrototype/PathfinderPrototype.userprefs
PathfinderPrototype/Assets/Plugins/*.meta
PathfinderPrototype/.vs/
*.exp
*.ilk
*.lib
*.pdb
ProjectVersion.txt
